<div class="mb-3"></div>
<p-button [outlined]="true" (click)="goToAddEmployee()">
    <span class="ml-2 font-bold">Add Employee</span>
</p-button>

<div class="mb-3"></div>

<div class="row">
    <p-table  #dt class="col-md-12" [value]="employees" dataKey="id" [paginator]="true" [rows]="5" [loading]="loading"
        [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
        [globalFilterFields]="['id', 'firstName', 'lastName', 'phone', 'email', 'salary']">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="width:20%">Id<p-sortIcon field="id"></p-sortIcon>
                    <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="firstName" style="width:20%">First Name<p-sortIcon field="firstName"></p-sortIcon>
                    <p-columnFilter type="text" field="firstName" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="lastName" style="width:20%">Last Name<p-sortIcon field="lastName"></p-sortIcon>
                    <p-columnFilter type="text" field="lastName" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="phone" style="width:20%">Phone<p-sortIcon field="phone"></p-sortIcon>
                    <p-columnFilter type="text" field="phone" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="email" style="width:20%">Email<p-sortIcon field="email"></p-sortIcon>
                    <p-columnFilter type="text" field="email" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="salary" style="width:20%">Salary<p-sortIcon field="salary"></p-sortIcon>
                    <p-columnFilter type="text" field="salary" display="menu"></p-columnFilter>
                </th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee>
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.salary }}</td>
                <td>
                    <button pButton type="button" class="p-button-outlined p-button-rounded float-end"
                        icon="pi pi-pencil" pTooltip="Update" tooltipPosition="top"
                        (click)="goToUpdateEmployee(employee)"></button>
                </td>
                <td>
                    <button pButton type="button" class="p-button-outlined p-button-rounded p-button-danger float-end"
                        icon="pi pi-trash" pTooltip="Remove" tooltipPosition="top"
                        (click)="confirmDelete($event, employee)"></button>
                </td>
            </tr>
        </ng-template>

    </p-table>
</div>
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>